<p id="notice"><%= notice %></p>

<h1>Subscribers</h1>

<table >
  <%# <thead style="border:1px solid green;text-align:center;"> %>
    <tr style="border:1px solid green;text-align:center;">
      <th style="text-align:center;">Name</th>
      <th>Email</th>
      <th>Operations</th>
      <th colspan="2"></th> 
    </tr>
  <%# </thead> %>

  <%# <tbody> %>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.email %></td>
        <td><%= link_to 'Show', subscriber %></td>
        <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <%# </tbody> %>
</table>

<br>

<%= link_to 'New Subscriber', new_subscriber_path %>
