<!doctype html>
<html lang="en">
<style>
.link a{
  color:red;
  padding:2px;

}
#table_shadow{
  border-left: 3px solid #9ccc65;
  padding: 10px;
  box-shadow: 2px 2px 22px #9ccc65;
  text-align:center;
  margin-top:6%;
}
#table_shadow thead{
  color:#9ccc65;
  letter-spacing:2px;
  font-size:18px;
}
h1{
  letter-spacing:5px;border-left:3px solid skyblue;padding-left:10px;box-shadow: 2px 2px 22px skyblue;
  margin-left:25%;padding-right:10px;background:rgba(0,0,0,0.1);
  
}
#subscriber{
    color:white;
}

</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SADA1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
  <div class="containor">
  
  
 
<div class="row col-md-5 offset-md-4" style="margin-top:6%;font-family: 'Arvo', serif;">
<p id="notice"><%= notice %></p>
<h1 style="color:skyblue;"><i class="fas fa-users" style="color:black"></i>Subscribers</h1>
<table  class="table table-striped" id="table_shadow">
  <thead> 
    <tr >
      <th style="text-align:center;">Name</th>
      <th>Email</th>
      <th>Operation</th>
      <%# <th colspan="3"></th>  %>
    </tr>
  </thead> 

   <tbody> 
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.email %></td>
        <td class="links"><%= link_to 'Show', subscriber %>
        <%= link_to 'Edit', edit_subscriber_path(subscriber) %>
        <%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
   </tbody>
</table>

<br>
<div id="subscriber">
<button type="button" class="btn btn-warning" style="color:skyblue;letter-spacing:2px;font-size:20px;"><i class="fas fa-user-tie" style="color:red;font-size:20px;padding-right:4px"></i><%= link_to 'New Subscriber' , new_subscriber_path %><i class="fas fa-sign-in-alt" style="color:red;padding-left:4px;font-size:25px;padding-top:5px;"></i></button>
</div>
</div>
</div>
</body>
